! URxvt

! For HiDPI Screen
xft.dpi: 192

! Scale Fonts for HiDPI {{{
Xft.antialias: true
Xft.hinting:   true 
Xft.rgba:      rgba
Xft.hintstyle: hintfull
Xft.dpi:       192
! }}}

! General settings
URxvt.saveLines: 100000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: true
URxvt.iso14755: False
URxvt.internalBorder: 30

! Transparency
URxvt*depth: 32
!URxvt.transparent: true
! Opacity (higher values = more transparent)
!URxvt.shading: 15

! Rofi
rofi.color-enabled: true
rofi.color-window: argb:dd9763f6, #9763f6, #f3f4f5
rofi.color-normal: argb:dd9763f6, #f3f4f5, argb:dd9763f6, #d65a7C, #f3f4f5
rofi.color-active: argb:dd9763f6
rofi.color-urgent: argb:dd9763f6


! Extensions
URxvt.perl-ext-common: 
default,clipboard,keyboard-select,url-select
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Keybindings
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u: perl:url-select:select_next

! Font

URxvt.font: xft:monaco:size=8, xft: fontawesome-8
URxvt.boldFont: xft:monaco:bold:size=8
!URxvt.letterSpace: -1
Xft*dpi: 192 
! default dpi in this config above was 96
Xft*antialias: true
Xft*hinting: full


! Snazzy - Converted from https://github.com/sindresorhus/iterm2-snazzy
!          using https://github.com/richo/itermcolors2xdefaults
URxvt*background:   #1e1f28
URxvt*foreground:   #ebece6
URxvt*cursorColor:   #e4e4e4
URxvt*color0:   #000
URxvt*color1:   #fb4245
URxvt*color2:   #50fa7b
URxvt*color3:   #f0fa8b
URxvt*color4:   #49b9fe
URxvt*color5:   #fb4cb3
URxvt*color6:   #8be9fd
URxvt*color7:   #ededec
URxvt*color8:   #555555
URxvt*color9:   #fb4245
URxvt*color10:   #50fa7b
URxvt*color11:   #f0fa8b
URxvt*color12:   #49b9fe
URxvt*color13:   #fb4cb3
URxvt*color14:   #8be9fd
URxvt*color15:   #ededec
